{%load static%}
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/reset.css'%}">
</head>


<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}  
            <h3>Forgot Password</h3>
        <div class="message">
            Have you forgotten your password? No worry we got you 😊 just follow the instructions to reset your password
         </div>
        <input type="email" placeholder="Enter Your Email" name="email" id="email">
        
        <button type="submit">Submit</button>
        
    <div class="redirect">
        <label>Do you Remember your Password?</label>
        <a href="{%url 'user_auth:login'%}">Login</a>
    </div>

    </form>
</body>
</html>
