{%load static%}
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/reset.css'%}">
</head>


<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}  
            <h3>Password Reset</h3>
        <div class="message">
           Reset your Password Below {{request.user.first_name}}
         </div>
        <input type="email" placeholder="Enter New Password" name="email" id="email">
        <input type="email" placeholder="Confirm Your Password" name="email" id="email">
        
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>
